body {
    background-color: #f4f4f5;
    font-family: sans-serif, "Arial";
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
}

.container {
    max-width: 900px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

h1 {
    text-align: center;
    color: #000;
}

a {
    color: #0ea5e9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.tech {
    color: #0d9488;
}

.author-name {
    color: #0056d2;
}
