body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f4f4f5;
    font-family: sans-serif, "Arial";
    font-size: 24px;
}

.blank-aside {
    flex-basis: 30%;
    flex-grow: 1;
    flex-shrink: 5;
}

.content {
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    // height: 100%;
    padding: 6rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-top: 6rem;
}

.main {
    background-color: #fff;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.main h2 {
    font-weight: bold;
    border-bottom: 2px solid #666;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.experience {
    display: flex;
}

.company {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    justify-content: flex-start;
}

.company-title {
    font-weight: bold;
}

.task-list {
    margin-top: auto;
}

.job-title {
    font-weight: bold;
}

.time-period {
    display: flex;
    align-items: flex-start;
    flex-basis: 30%;
}

.education {
    display: flex;
}

.degree {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    justify-content: flex-start;
}

.degree-title {
    font-weight: bold;
}

.school {
    font-weight: bold;
}

.skills {
    display: flex;
}
